//
// Icon Font: fontcustom
//

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-home:before,
.icon-search:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-home:before { content: "\f101"; }
.icon-search:before { content: "\f102"; }
